body {
	background-color: white;
	color: grey;
	font-family: Helvetica;
}


#username {

}

#compthumbs{
	text-align: center;
}

#compthumbs img{
	max-width: 200px;
}

#compthumbs li {
	list-style: none;
	display: inline-block;
}

#desknumberdiv{
	clear: both;
	padding-left: 20%;
}

#leftform {
	float: left;
	padding-left: 20%;

}

#leftform li{
	list-style: none;
	padding-top: 10px;
	text-align: right;

}

#leftform ul{
	padding-bottom: 10px;
	padding-right: 10px;
	border: solid;
	border-color: lightgrey;
	border-width: 5px;
}

#desk{
	float: right;
	padding-right: 20%;
}

#desk li{
	list-style: none;
	padding-top: 5px;
	min-width: 200px;

}

#desk ul{
	padding-bottom: 10px;
	padding-right: 10px;
	border: solid;
	border-color: lightgrey;
	border-width: 5px;
}


#floorsnavigation{
	text-align: center;
	clear: both;
	padding-top: 100px;
	padding-bottom: 50px;
}

#floor2map{
	clear: both;
	text-align: center;
}

#floor3map{
	clear: both;
	text-align: center;
}

#floor4map{
	clear: both;
	text-align: center;
	
}

#floor2map img, #floor3map img, #floor4map img{
	max-width: 100%;
}

#submitbutton{
	clear: both;
	text-align: center;
}